/* **************************************** Estilos generales **************************************** */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: orange;
}

.texto-blanco {
    font-weight: 700;
    color: #ffffff;
}

.texto-negro {
	color: #212121;
}

/* *********************************** Clases generales fullpage JS *********************************** */

#fp-nav ul li a span {
    background: orange;
}

#fp-nav ul li .fp-tooltip {
    color: orange;
}

.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left: 80%;
    border-width: 20px 20px 20px 0;
    border-color: transparent #212121 transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 3%;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #212121;
}

/* ******************************************* Animaciones ******************************************* */

@keyframes bajar-subir {
    0% { transform: translateY(20px); }    
    25% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

/* ********************************************** Header ********************************************** */

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.nav li, .nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #b1b1b1;
    transition: .5s ease;
}

#menu li.active {
    border-bottom: 2px solid orange;
}

#menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

#menu li.active a, #menu li:hover a {
    color: orange;
}

#menu li a i {
    margin-right: 0.25rem;
}

#header {
    background: url('../img/4.jpg');
    background-size: cover;
    background-position: center;
}

#header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}

#header .titulo {
    font-size: 70px;
    text-transform: uppercase;
}

#header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    animation: bajar-subir 1s ease infinite;
}

/* ******************************************** Productos ******************************************** */

#catalogo article {
    background-position: center;
    background-size: cover;
}

#catalogo article:nth-child(1) {
    background-image: url('../img/1.jpg');
}

#catalogo article:nth-child(2) {
    background-image: url('../img/2.png');
}

#catalogo article:nth-child(3) {
    background-image: url('../img/3.jpg');
}

#catalogo .informacion-producto {
    margin: 0 30px;
}

#catalogo .informacion-producto::before {
    content: "";
    height: 55px;
    width: 2px;
    display: inline-block;
    background: orange;
    position: absolute;
    top: 50%;
    margin: -10px;
}

#catalogo .modelo {
    font-size: 45px;
}

#catalogo .descripcion {
    font-size: 22px;
}

#catalogo .precio {
    font-size: 25px;
}

#catalogo .precio::before {
    content: "$";
    display: inline-block;
}